@{
    ViewBag.Title = "About";
}
<h1>Library Management System</h1>
<p>This project contains two types of logins</p></br>
<p> 1:Studentlogin "Can check the Personal Details and can look number of books taken from College Library."</p></br>
 <p> 2:Adminlogin "Can do""</p>
<pre>  
    1 : Add new admins 
    2 : Add students
    3 : Issue books<
    4 : Add book to College library
</pre>
