@{
    ViewBag.Title = "Contact";
}

<h1>Contact</h1>
<a href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=CllgCJZcQxmkXbCjXPpGXKHhHJgpcwSshFBgCjTbCcGfbjXCpMkxMFvVgfgXwLcWhGTSkZPCzsV">click to contact</a>
