@{
    ViewBag.Title = "Home Page";
}


<h1 style="text-align:center">Narasaraopeta Engineering College </h1>
    </br>
<h2 style="text-align:center">Library Management</h2></br>

<button>@Html.ActionLink("studentlogin", "studentlogin", "Home")</button></tb>
<button>@Html.ActionLink("adminlogin", "adminlogin", "Home")</button>

<img src="../images/library.jpg" />

